[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy
[submodule "lib/Vulkan2DRenderer"]
	path = lib/Vulkan2DRenderer
	url = https://github.com/Noxagonal/Vulkan2DRenderer
[submodule "lib/Vc"]
	path = lib/Vc
	url = https://github.com/VcDevel/Vc
[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/skypjack/entt
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
